body {
    background-color: lightgrey;
    font-family: sans-serif,serif,monospace;
    font-size: large;
    font-weight: normal;
    color: orangered;
}
h1 {
    font-family: monospace, sans-serif, serif;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: darkred;
}
img {
    width: 500px;
    height: auto;
}